<section>
    <div class="container">
        <!---->
        <h2><b>A Ferramenta</b></h2>
        <p>
            O Proedu, nos seus esforços de pesquisa, busca a compreensão do sistema de atividades da área profissional 
            de Design Educacional. A partir do mapeamento das práticas de design educacional nos Institutos Federais, é 
            possível apontar soluções para a qualificação destas rotinas de trabalho. Um dos pontos investigados e analisados 
            pelo Proedu é a produção de textos relacionados ao planejamento educacional, elaborados pelas equipes 
            multidisciplinares das instituições. Os registros textuais do planejamento são capazes de conservar a memória 
            de &ldquo;como&rdquo;, &ldquo;onde&rdquo; e &ldquo;quando&rdquo; utilizar recursos educacionais abertos e como 
            estruturar as ambiências de aprendizagem para as demandas geradas pela Rede de Educação Profissional e Tecnológica. 
            Uma das formas de conservar a memória do planejamento é a prática de escrita do Projeto Educacional.  
        <br><br>
            Neste sentido o Proedu apresenta uma ferramenta que incorpora um modelo de design educacional com as rotinas 
            de planejamento evidenciadas nas instituições. O Gerador de Projetos conduz o usuário pelos processos de 
            caracterização da demanda, análises e desenho da solução baseado no reconhecido Modelo ADDIE.
        </p>

        <button mat-raised-button class="btn-block" routerLink="/sections">Gerador de Projetos Educacionais</button>
        <mat-divider></mat-divider>

        <!---->
        <h2><b>O Modelo</b></h2>
        <p>
            O Modelo ADDIE é amplamente utilizado na área profissional de Design Educacional, a fim de caracterizar uma demanda 
            de aprendizagem e formular soluções para atendê-la. O Proedu, a partir da análise das equipes multidisciplinares dos 
            Institutos Federais propõem a versão clássica do modelo, com adaptação dos produtos que são entregues ao final de cada etapa. 
        <br><br>
            Para qualificar o planejamento educacional o Proedu recomenda a caracterização da demanda de aprendizagem, o processo de 
            análises, a formulação das inferências, o desenho da solução e o planejamento da produção. O conjuntos destes elementos é 
            organizado e expresso através do Projeto Educacional gerado pela ferramenta do Proedu.
        </p>

        <img mat-card-image src="..\assets\addie.png"  
            title="Fonte: Elaboração do Modelo ADDIE com entrega de produtos adaptado ao Proedu - Thiago Medeiros Barros e Fabiane Beletti da Silva." 
            alt="Modelo ADDIE utilizado no processo de composição do projetos educacionais">
        
        <mat-divider></mat-divider>

        <!---->
        <h2><b>O Projeto Educacional no Modelo ADDIE</b></h2>
        <p>
            O Projeto Educacional é entendido pelo Proedu como um gênero textual baseado em um sistema de atividades de uma área 
            profissional específica. Logo, para configurar o gênero textual, propõe-se uma superestrutura que conduz, tanto o 
            produtor, quanto o leitor, na elaboração e consumo deste texto. A superestrutura está baseada em pesquisa de Tese de 
            Doutorado do Programa de Pós-graduação em Letras, da Universidade Federal de Pelotas. 
        </p>

        <img mat-card-image src="..\assets\tree.png"  
            title="Fonte: Elaboração da superestrutura do gênero textual Projeto educacional - Fabiane Beletti da Silva e Tatiana Bolívar Lebedeff." 
            alt="Diagrama que explica as etapas do modelo ADDIE no processo de composição de projetos educacionais">

    </div>
</section>
