<h2 mat-dialog-title style="color: #0C4154;">Obrigado por usar o sistema Gerador de Projetos Educacionais!</h2>
<div mat-dialog-content>
    Você completou com sucesso o processo de composição de projetos educacionais baseado no modelo <b>ADDIE</b>. <br>
    Uma nova página será aberta onde poderá ser feito o download do projeto gerado. <br>
    Lembramos que ainda é possível acessar o menu <b>"Meus Projetos"</b> para acessá-lo novamente.
</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close><mat-icon>highlight_off</mat-icon> Fechar</button>
</div>