.login-wrapper {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 5px 5px 5px 5px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
}

.login-wrapper .example-form {
    min-width:100%;
    max-width:300px;
    width:100%;
}

.login-wrapper .example-full-width,.login-wrapper {
    width:100%;
}

.btn-block-reg {
    width:100%;
    background-color: #17AA90;
    color: white;
}

.login-wrapper mat-card-header {
    text-align:center;
    width:100%;
    display:block;
    font-weight:700;
}

.login-wrapper mat-card-header mat-card-title {
    font-size:20px;
    margin:0;
} 

.login-wrapper .mat-card { 
    padding:20px 50px 20px;
}

.login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding:0.8375em 0;
}
